body {
  background: linear-gradient(
    rgba(188, 224, 243, 0.8),
    rgba(255, 255, 255, 0.822)
  );
}
#hero {
  background: url("../img/front.png") top right !important;

  background-size: cover !important;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 255px;
  }
}

#hero h1 {
  font-size: 64px !important;
  font-weight: 400;
  line-height: 60px;
  color: #04070a;
}

#hero p {
  font-weight: 300;
  line-height: 30px;
}
#hero .social-links {
  margin-top: 30px !important;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #636567;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #1363dc;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
}

.image {
  max-width: 300%;
  height: auto;
  margin-left: 10%;
}
